@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?8n2oix");
  src: url("../fonts/icomoon.eot?8n2oix#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?8n2oix") format("truetype"), url("../fonts/icomoon.woff?8n2oix") format("woff"), url("../fonts/icomoon.svg?8n2oix#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before {
  content: "\e907";
}

.icon-profile:before {
  content: "\e908";
}

.icon-shop:before {
  content: "\e909";
}

.icon-viber:before {
  content: "\e903";
}

.icon-watsap:before {
  content: "\e904";
}

.icon-viber1:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-arrow:before {
  content: "\e900";
}

.icon-bag:before {
  content: "\e901";
}

.icon-star:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  background: #F3F4F9;
}

[class*=__container] {
  max-width: 1860px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 134.75%;
  color: #000000;
}

.hide {
  display: none;
}

.menu {
  position: relative;
  z-index: 100;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 23px;
  padding: 10px 0;
}

.menu__link {
  font-size: 18px;
  line-height: 21px;
  margin-right: 9px;
}

.menu__arrow {
  margin-top: 10px;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  min-width: 400px;
  padding: 10px 5px;
  left: 0;
  border-radius: 7px;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(255, 255, 255, 0.1);
}

.menu__sub-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.menu__sub-link {
  font-size: 16px;
  line-height: 20px;
  display: block;
}

.menu__sub-link:hover {
  color: #ed661b;
}

.menu__sub-link::before {
  font-size: 8px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}

.menu__burger {
  display: none;
}

.menu__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  background: red;
}

.menu__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
  background: red;
}

.menu__burger.active span {
  display: none;
}

.header {
  position: relative;
}

.header__act::before {
  content: "";
  position: absolute;
  z-index: 102;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100px;
}

.header__bootom {
  background: #000;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 290px;
  position: relative;
  z-index: 200;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  margin-left: auto;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  position: relative;
  z-index: 2;
}

.header__search {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.header__search:hover::before {
  color: #ed661b;
}

.header__star {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  font-size: 22px;
}

.header__star:hover::before {
  color: #ed661b;
}

.header__number {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  font-size: 18px;
  line-height: 21px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  margin-left: 10px;
}

.header__number:hover {
  color: #ed661b;
}

.header__cart {
  background: #ed661b;
  border-radius: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  min-height: 50px;
}

.header__cart .icon-bag {
  margin-left: 50px;
  display: inline-block;
  vertical-align: bottom;
  font-size: 22px;
}

.header__cart:hover {
  -webkit-box-shadow: 0 0 1px 2px #ed661b;
          box-shadow: 0 0 1px 2px #ed661b;
}

.top-header {
  background: #191919;
  padding: 10px 0;
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 30px;
}

.top-header__bm {
  padding-left: 0;
  margin-left: 20px;
}

.top-header__mobile-top {
  display: none;
}

.top-header__mobile-bottom {
  display: none;
}

.top-header__catalog {
  display: none;
}

.top-header__btn {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-left: 30px;
}

.icon-bag_hidden {
  display: none;
}

.mouse .menu__list > li:hover .menu__sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mouse .menu__list > li:hover .menu__link {
  color: #ed661b;
}

.mouse .menu__list > li:hover .menu__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-top: 5px solid #ed661b;
  margin-top: 0;
}

.touch .menu__sub-list.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.touch .menu__arrow.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-top: 5px solid #ed661b;
  margin-top: 0;
}

.touch .col .menu__link {
  color: #ed661b;
}

.no-webp .main {
  background: url(../img/main-bg.jpg); }

.main {
  padding: 370px 0;
}

.main__block {
  text-align: center;
  margin-bottom: 40px;
}

.main__text {
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
}

.main__title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
}

.main__btn {
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-weight: 700;
  padding: 20px 50px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 14px;
}

.main__btn:hover {
  background: #ed661b;
}

.page__slider {
  position: relative;
}

.wrap {
  position: relative;
  z-index: 2;
  margin-top: 50px;
}

.wrap__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap__column {
  width: calc(25% - 10px);
  background: #ffffff;
  border-radius: 40px;
  padding: 70px 22px 87px 43px;
}

.wrap__img {
  background: #ed661b;
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
  border-radius: 30px;
  margin-bottom: 46px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
}

.wrap__text {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.reviews {
  padding: 100px 0;
}

.reviews__title {
  margin-bottom: 20px;
}

.reviews__slider {
  position: relative;
  margin: 0 -11px;
}

.reviews__slide {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 11px;
  padding: 25px;
}

.reviews__img {
  margin-bottom: 20px;
  text-align: center;
}

.reviews__img img {
  max-width: 100%;
}

.reviews__sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 25px;
  color: #000000;
  max-width: 290px;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 10px 30px;
  background: #f3f4f9;
  border-radius: 10px;
  margin-left: 20px;
}

.reviews__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
  color: #000000;
}

.reviews__stars {
  margin-bottom: 5px;
}

.reviews__text {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  max-width: 186px;
}

.reviews__photo {
  position: absolute;
  top: 7px;
  left: -20px;
}

.project__title {
  margin-bottom: 17px;
}

.project__slider {
  position: relative;
  margin-bottom: 36px;
}

.project__slide {
  position: relative;
  cursor: pointer;
}

.project__img {
  width: 100%;
}

.project__img img {
  max-width: 100%;
}

.project__hov {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border: 8px solid #ed661b;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding-top: 130px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.project__text {
  font-weight: 800;
  font-size: 20px;
  line-height: 134.75%;
  text-transform: uppercase;
  max-width: 270px;
  text-align: center;
  margin: 0 auto 80px;
}

.project__city {
  font-size: 18px;
  line-height: 134.75%;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.project__btn {
  background: #ff640e;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 50px;
  display: block;
  margin: 0 auto;
  max-width: 295px;
  text-align: center;
}

.quality {
  padding: 130px 0px 60px 0px;
}

.quality__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quality__contant {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 50px;
  padding-right: 20px;
}

.quality__title {
  margin-bottom: 15px;
}

.quality__sub-title {
  font-size: 30px;
  line-height: 134.75%;
  color: #000000;
  margin-bottom: 50px;
  max-width: 695px;
}

.quality__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 184.7%;
  color: #000000;
  margin-bottom: 10px;
}

.quality__name::before {
  font-size: 14px;
  margin-right: 20px;
}

.quality__item {
  font-size: 24px;
  line-height: 184.7%;
  color: #000000;
  margin-bottom: 10px;
}

.quality__name_mb {
  display: none;
}

.quality__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.quality__img img {
  max-width: 100%;
}

.simulators {
  padding-top: 50px;
  padding-bottom: 320px;
  background: #ffffff;
}

.simulators__title {
  margin-bottom: 25px;
}

.simulators__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.simulators__scroll {
  overflow: auto;
  margin-bottom: 20px;
}

.simulators__link {
  background: #f3f4f9;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 14px;
  padding: 20px 50px;
  margin-right: 20px;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.simulators__link_act {
  background: rgba(237, 102, 27, 0.14);
  color: #ed661b;
}

.simulators__slider {
  margin: 0 -2px;
  position: relative;
}

.simulators__slide {
  background: #ffffff;
  border: 1px solid #f3f4f9;
  padding: 15px;
  cursor: pointer;
  margin: 0 2px;
  position: relative;
}

.simulators__slide:hover {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.simulators__pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simulators__img {
  margin-top: 10px;
  display: block;
  margin-bottom: 20px;
}

.simulators__img img {
  max-width: 100%;
}

.simulators__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 18px;
}

.simulators__weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.simulators__value {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 10px 14px;
  background: #f3f4f9;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

.simulators__value_act {
  border: 1px solid #ed661b;
}

.simulators__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.simulators__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
}

.simulators__color {
  border-radius: 10px;
  width: 25px;
  height: 25px;
}

.simulators__color_black {
  background: #000;
  margin-right: 5px;
}

.simulators__color_gray {
  border: 1px solid #ed661b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simulators__color_gray::after {
  border-radius: 5px;
  content: "";
  display: block;
  background: #a1a1a1;
  width: 15px;
  height: 15px;
}

.simulators__color_yellow {
  background: #f8e852;
  margin-right: 5px;
}

.simulators__color_red {
  background: #df3a28;
}

.simulators__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.simulators__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f4f9;
  margin: 0 -15px;
  padding: 20px 15px 15px 15px;
}

.simulators__slider_mb {
  display: none;
}

.simulators__new-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.simulators__old-price {
  font-size: 16px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: #000000;
}

.simulators__cart {
  background: #ed661b;
  border-radius: 14px;
  width: 55px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simulators__sale {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #007fff;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
}

.simulators__new-product {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #191919;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
}

.simulators__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #f3f4f9;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.simulators__wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #000000 transparent transparent transparent;
  display: block;
  pointer-events: none;
}

.simulators__wrap {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  display: none;
}

.get {
  padding-bottom: 100px;
}

.no-webp .get__block {
  background: url(../img/get-img.jpg) 0 0/cover no-repeat; }

.get__block {
  border-radius: 20px;
  overflow: hidden;
  margin-top: -220px;
}

.get__bg {
  background: rgba(0, 0, 0, 0.42);
  padding: 150px 0px 280px 0px;
}

.get__title {
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
  text-transform: uppercase;
  padding: 0 15px;
}

.get__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.get__input {
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 14px;
  padding-left: 30px;
  min-height: 50px;
  display: block;
  width: 100%;
  max-width: 300px;
  border: 0;
  font-size: 18px;
  color: #fff;
  padding-right: 10px;
}

.get__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.7);
}

.get__input::-moz-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.7);
}

.get__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.7);
}

.get__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.7);
}

.get__input::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.7);
}

.get__input:focus {
  -webkit-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.3);
}

.get__btn {
  max-width: 195px;
  width: 100%;
  background: #ed661b;
  border-radius: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
}

.get__btn:hover {
  -webkit-box-shadow: 0px 0px 1px 2px #ed661b;
          box-shadow: 0px 0px 1px 2px #ed661b;
}

.statistic {
  max-width: 1530px;
  margin: -250px auto 100px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.statistic__column {
  padding: 0 20px;
  width: 33.333%;
  text-align: center;
  position: relative;
}

.statistic__column:last-child .statistic__img {
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
          transform: rotate(50deg);
}

.statistic__column:not(:last-child)::after {
  content: "";
  width: 3px;
  height: 100px;
  background: #f3f4f9;
  border-radius: 30px;
  position: absolute;
  bottom: 150px;
  right: 0;
}

.statistic__value {
  position: relative;
}

.statistic__year {
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  color: #000;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

.statistic__img img {
  max-width: 100%;
}

.statistic__text {
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 30px;
}

.statistic__number {
  background: -o-linear-gradient(10.78deg, #ed661b 3.51%, #f0cd50 141.81%);
  background: linear-gradient(79.22deg, #ed661b 3.51%, #f0cd50 141.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 800;
  font-size: 100px;
  line-height: 123px;
  height: 253px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap__container {
  padding: 0 40px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__slider .slick-dots {
  margin-top: -250px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 100px;
}

.page__slider .slick-dots li {
  list-style: none;
}

.page__slider .slick-dots li button {
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #393838;
  border-radius: 14px;
  margin: 0 10px;
  cursor: pointer;
}

.page__slider .slick-dots .slick-active + li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 2px;
  background: #fff;
}

.page__slider .slick-dots .slick-active button {
  border: 1px solid #fff;
}

.reviews__slider .slick-arrow {
  position: absolute;
  top: -40px;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
}

.reviews__slider .slick-arrow.slick-prev {
  right: 60px;
  background: url(../img/prev.svg) no-repeat center;
  fill: #fff;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews__slider .slick-arrow.slick-prev::before {
  font-size: 15px;
  color: #000;
}

.reviews__slider .slick-arrow.slick-next {
  right: 20px;
}

.reviews__slider .slick-arrow.slick-next::before {
  font-size: 15px;
  color: #000;
}

.project__slider .slick-list {
  overflow: hidden;
  padding-right: 100px;
}

.project__slider .slick-arrow {
  position: absolute;
  top: -40px;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
}

.project__slider .slick-arrow.slick-prev {
  right: 90px;
  background: url(../img/prev.svg) no-repeat center;
  fill: #fff;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.project__slider .slick-arrow.slick-prev::before {
  font-size: 15px;
  color: #000;
}

.project__slider .slick-arrow.slick-next {
  right: 50px;
}

.project__slider .slick-arrow.slick-next::before {
  font-size: 15px;
  color: #000;
}

.simulators__slider .slick-arrow {
  position: absolute;
  top: -60px;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
}

.simulators__slider .slick-arrow.slick-prev {
  right: 90px;
  background: url(../img/prev.svg) no-repeat center;
  fill: #fff;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.simulators__slider .slick-arrow.slick-prev::before {
  font-size: 15px;
  color: #000;
}

.simulators__slider .slick-arrow.slick-next {
  right: 50px;
}

.simulators__slider .slick-arrow.slick-next::before {
  font-size: 15px;
  color: #000;
}

.footer__top {
  background: #191919;
  padding-top: 85px;
  padding-bottom: 25px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list {
  margin: 0 20px 20px;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__icons {
  margin-bottom: 20px;
}

.footer__icon::before {
  font-size: 20px;
}

.footer__icon:hover::before {
  color: #ED661B;
}

.footer__icon {
  margin-right: 10px;
}

.footer__bottom {
  background: #000000;
  padding: 15px 0;
}

.footer__cart img {
  max-width: 100%;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__ip {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

@media screen and (min-width: 1365px) {
  .project__slide:hover .project__hov {
    opacity: 1;
  }
}

@media screen and (max-width: 1770px) {
  .simulators__weight {
    display: none;
  }

  .simulators__colors {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .simulators__wrap {
    display: block;
  }
}

@media screen and (max-width: 1500px) {
  .footer__logo {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1380px) {
  .reviews__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .reviews__text {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1370px) {
  .menu__link {
    font-size: 16px;
    line-height: 18px;
  }

  .menu__arrow {
    margin-top: 5px;
  }

  .header__contacts {
    margin-left: 10px;
  }

  .header__search {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .header__star {
    display: none;
  }

  .header__number {
    min-height: 40px;
    font-size: 16px;
  }

  .header__cart {
    min-height: 40px;
    font-size: 16px;
  }

  .header__cart .icon-bag {
    margin-left: 20px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1300px) {
  .wrap__row {
    gap: 30px;
  }

  .wrap__column {
    width: calc(50% - 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
  }

  .wrap__img {
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    margin-right: 10px;
    border-radius: 14px;
  }

  .wrap__img img {
    max-width: 70%;
  }

  .wrap__text {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  body.lock {
    overflow: hidden;
  }

  .menu {
    overflow: auto;
    display: block;
    background: #000000;
    position: absolute;
    right: -100%;
    top: 0;
    height: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    padding: 70px 20px 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .menu.active {
    right: 0;
  }

  .menu__list {
    display: block;
  }

  .menu__list > li {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .menu__link {
    font-size: 18px;
    line-height: 21px;
  }

  .menu__sub-list {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  .menu__burger {
    margin-right: 20px;
    display: block;
    z-index: 50;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 200;
  }

  .menu__burger::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .menu__burger::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .menu__burger span {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 100%;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header__top {
    display: none;
  }

  .header__bootom {
    top: 25px;
  }

  .header__contacts {
    margin-left: auto;
  }

  .top-header__link {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    padding-left: 40px;
  }

  .top-header__link::before {
    position: absolute;
    top: 0;
    left: 0;
  }

  .top-header__mobile-top {
    display: block;
    padding-top: 50px;
  }

  .top-header__mobile-bottom {
    display: block;
    background: #191919;
    margin: auto -20px 0;
    padding: 30px 0;
  }

  .top-header__catalog {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    border-radius: 10px;
  }

  .quality__contant {
    padding-top: 0;
  }

  .page__slider .slick-dots li button {
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
  }

  .page__slider .slick-dots .slick-active + li::before {
    width: 45px;
  }

  .simulators__slider .slick-arrow {
    top: -125px;
  }
}

@media screen and (max-width: 992px) {
  .main {
    padding: 270px 0;
  }

  .main__text {
    font-size: 20px;
    line-height: 26px;
  }

  .main__title {
    font-size: 40px;
    line-height: 46px;
  }

  .quality__sub-title {
    font-size: 16px;
    margin-bottom: 35px;
  }

  .quality__name {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .quality__name::before {
    font-size: 8px;
    margin-right: 10px;
  }

  .quality__item {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .simulators__list {
    width: 620px;
    padding-bottom: 20px;
  }

  .simulators__link {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 24px;
    margin-right: 10px;
  }

  .simulators__slide {
    padding: 15px 5px 0px 5px;
  }

  .simulators__name {
    font-size: 14px;
    line-height: 14px;
  }

  .simulators__color {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }

  .simulators__color_gray::after {
    width: 12px;
    height: 12px;
    border-radius: 0px;
  }

  .simulators__row {
    margin: 0px -5px;
  }

  .simulators__new-price {
    font-size: 16px;
    line-height: 19px;
  }

  .simulators__old-price {
    font-size: 10px;
    line-height: 12px;
  }

  .simulators__cart {
    width: 40px;
    height: 40px;
  }

  .get__bg {
    padding: 40px 0px 96px 0px;
  }

  .get__title {
    margin-bottom: 50px;
  }

  .get__input {
    margin: 0 5px;
  }

  .get__btn {
    margin-top: 35px;
    width: 50%;
    max-width: 50%;
  }

  .statistic {
    margin: -150px auto 100px;
  }

  .statistic__column:last-child .statistic__img {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }

  .statistic__column {
    width: 100%;
  }

  .statistic__column:not(:last-child) {
    margin-bottom: 80px;
  }

  .statistic__column:not(:last-child)::after {
    display: none;
  }

  .statistic__year {
    font-size: 14px;
    line-height: 16px;
  }

  .statistic__img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
  }

  .statistic__text {
    font-size: 14px;
    line-height: 16px;
  }

  .statistic__number {
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    height: 90px;
  }

  .page__slider .slick-dots {
    margin-top: -135px;
  }
}

@media screen and (max-width: 840px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__ip {
    font-size: 7px;
    line-height: 8px;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  .menu__burger {
    width: 20px;
    height: 15px;
  }

  .menu__burger::before {
    height: 1px;
  }

  .menu__burger::after {
    height: 1px;
  }

  .menu__burger span {
    margin-top: -0.5px;
    height: 1px;
  }

  .menu__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
    background: red;
  }

  .menu__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 7px;
    background: red;
  }

  .header__logo {
    width: 110px;
  }

  .header__number {
    display: none;
  }

  .header__cart {
    display: none;
  }

  .top-header__mobile-top {
    padding-top: 20px;
  }

  .icon-bag_hidden {
    display: block;
    background: #ed661b;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 14px;
    margin-left: 10px;
  }

  .main {
    padding: 200px 0px;
  }

  .wrap__column {
    width: 100%;
  }

  .reviews__sub-title {
    font-size: 14px;
  }

  .reviews__row {
    margin-left: 0;
  }

  .reviews__name {
    font-size: 14px;
  }

  .reviews__text {
    font-size: 14px;
  }

  .project__btn {
    font-size: 14px;
    line-height: 17px;
    padding: 15px 45px;
    max-width: 245px;
  }

  .quality {
    padding: 60px 0px 30px 0px;
  }

  .quality__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .quality__contant {
    padding-right: 0;
  }

  .quality__name_pc {
    display: none;
  }

  .quality__name_mb {
    display: block;
  }

  .quality__img {
    margin: 0 -20px 30px;
  }

  .simulators__slide {
    width: calc(50% - 4px);
    margin-bottom: 10px;
  }

  .simulators__slider_mb {
    display: block;
  }

  .simulators__slider_pc {
    display: none;
  }

  .get__block {
    margin: 0 -30px;
  }

  .get__bg {
    padding: 40px 15px 96px 15px;
  }

  .get__input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px;
  }

  .get__input::-moz-placeholder {
    font-size: 14px;
    line-height: 16px;
  }

  .get__input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
  }

  .get__input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
  }

  .get__input::placeholder {
    font-size: 14px;
    line-height: 16px;
  }

  .get__input {
    max-width: 45%;
    min-height: 40px;
    font-size: 14px;
    line-height: 16px;
    padding-left: 13px;
  }

  .get__btn {
    min-height: 40px;
    border-radius: 9px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 17px;
  }

  .statistic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .statistic__year {
    font-size: 30px;
    line-height: 37px;
  }

  .statistic__img {
    width: 220px;
    height: 220px;
  }

  .statistic__text {
    font-size: 18px;
    line-height: 21px;
  }

  .wrap__container {
    padding: 0 15px;
  }

  .page__slider .slick-dots {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }

  .reviews__slider .slick-arrow.slick-prev {
    right: 50px;
  }

  .reviews__slider .slick-arrow.slick-prev::before {
    font-size: 12px;
  }

  .reviews__slider .slick-arrow.slick-next {
    right: 20px;
  }

  .reviews__slider .slick-arrow.slick-next::before {
    font-size: 12px;
  }

  .project__slider .slick-list {
    padding-right: 50px;
  }

  .project__slider .slick-arrow.slick-prev {
    right: 50px;
  }

  .project__slider .slick-arrow.slick-prev::before {
    font-size: 12px;
  }

  .project__slider .slick-arrow.slick-next {
    right: 20px;
  }

  .project__slider .slick-arrow.slick-next::before {
    font-size: 12px;
  }

  .simulators__slider .slick-arrow.slick-prev {
    right: 50px;
  }

  .simulators__slider .slick-arrow.slick-prev::before {
    font-size: 12px;
  }

  .simulators__slider .slick-arrow.slick-next {
    right: 20px;
  }

  .simulators__slider .slick-arrow.slick-next::before {
    font-size: 12px;
  }

  .footer__list {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .main__text {
    font-size: 14px;
    line-height: 20px;
  }

  .main__title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media screen and (max-width: 480px) {
  .footer__list {
    width: 100%;
    margin: 0 0px 20px;
  }

  .footer__item {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__item a {
    font-size: 12px;
    line-height: 15px;
  }
}

.webp .main { background: url(../img/main-bg.webp); }

.webp .get__block { background: url(../img/get-img.webp) 0 0/cover no-repeat; }